body {
        padding-top: 120px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-horizontal {
        max-width: 500px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
	  
      .form-horizontal .form-signin-heading {
        margin-bottom: 10px;
		margin-left:70px;
		padding-bottom:20px;
      }
	  .form-horizontal .submit-buttons{
		margin-left:70px;
	  }
      .form-horizontal input[type="email"],
      .form-horizontal input[type="password"],
		.form-horizontal input[type="text"],
		.form-horizontal select{
        font-size: 16px;
        height: auto;
        padding: 5px 9px;
      }